<h1 class="form-title">Vista de los productos</h1>
<div id="listProducts" class="container-table"></div>
<h2 class="form-title">Vista de los productos del formulario</h2>
<div id="listProductsForm" class="container-table"></div>