<div>
    <ul>
        {{#if resultado.length}}
                {{#each resultado}}
                    <li>El número {{this.num}} se repite {{this.rep}} veces</li>
                {{/each}}
        {{else}}
            <li>No hay números</li> 
        {{/if}}
    </ul>
</div>