<form action="/login" method="post" class="form">
    <label for="userName" class="form-label">Nombre</label>
    <input type="name" name="userName" class="form-input" placeholder="nombre">
    <button type="submit" class="btn">Enviar</button>
</form>
