<h1>Ingrese producto</h1>
<form action="/productos" method="post">
    <input type="name"  name="title" placeholder="title">
    <input type="number"  name="price" placeholder="price">
    <input type="url"  name="thumbnail" placeholder="url">
    <button type="submit">Enviar</button>
</form>
{{{table}}}
<div id="messages"></div>
<form onsubmit="return addMessage(this)">
    <input type="text" id="username" placeholder="Tu Nombre" >
    <input type="text" id="texto" placeholder="Cuéntanos algo...">
    <input type="submit" value="Enviar">
</form>
